<nav id="navbar">
  <h3 class="logo">
    <span class="text-red"><i class="fas fa-book-open"></i> Real</span> Estate
  </h3>
  <ul>
    <!--test git apet-->
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="myprofile">My Profile</a></li>
    <li *ngIf="!this.authService.loggedIn()"><a routerLink="login">Login</a></li>
    <li *ngIf="!this.authService.loggedIn()"><a routerLink="register">Register</a></li>
    <li *ngIf="this.authService.loggedIn()"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>



