<div class="row">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card mt-1">
      <div class="card-header">
        <h4>Register</h4>
      </div>

      <div class="card-body">
        <form [formGroup]="registerForm" #ngForm="ngForm" (ngSubmit)="onSubmitClick()">

          <div class="form-group form-row">
            <label for="firstName" class="col-md-4 col-form-label">First Name:</label>
            <div class="col-md-8">
              <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" formControlName="firstName" [ngClass]="{
                'is-invalid': registerForm.get('firstName').invalid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched || ngForm.submitted),
                'is-valid': registerForm.get('firstName').valid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched || ngForm.submitted) }">
              <span class="text-danger" *ngIf="registerForm.get('firstName').invalid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched || ngForm.submitted) && registerForm.get('firstName').errors?.required">First name can't be blank</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="lastName" class="col-md-4 col-form-label">Last Name:</label>
            <div class="col-md-8">
              <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-control" formControlName="lastName" [ngClass]="{
                'is-invalid': registerForm.get('lastName').invalid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched || ngForm.submitted),
                'is-valid': registerForm.get('lastName').valid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched || ngForm.submitted) }">
              <span class="text-danger" *ngIf="registerForm.get('lastName').invalid && (registerForm.get('lastName').dirty || registerForm.get('lastName').touched || ngForm.submitted) && registerForm.get('lastName').errors?.required">Last name can't be blank</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="email" class="col-md-4 col-form-label">Email:</label>
            <div class="col-md-8">
              <input type="text" name="email" id="email" placeholder="Email" class="form-control" formControlName="email" [ngClass]="{
                'is-invalid': registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched || ngForm.submitted),
                'is-valid': registerForm.get('email').valid && (registerForm.get('email').dirty || registerForm.get('email').touched || ngForm.submitted) }">
              <span class="text-danger" *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched || ngForm.submitted) && registerForm.get('email').errors?.required">Email can't be blank</span>
              <span class="text-danger" *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched || ngForm.submitted) && registerForm.get('email').errors?.email">Email is invalid</span>
              <span class="text-danger" *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched || ngForm.submitted) && registerForm.get('email').errors?.uniqueEmail">Email already exists</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="password" class="col-md-4 col-form-label">Password:</label>
            <div class="col-md-8">
              <input type="password" name="password" id="password" placeholder="Password" class="form-control" formControlName="password" [ngClass]="{
                'is-invalid': registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched || ngForm.submitted),
                'is-valid': registerForm.get('password').valid && (registerForm.get('password').dirty || registerForm.get('password').touched || ngForm.submitted) }">
              <span class="text-danger" *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched || ngForm.submitted) && registerForm.get('password').errors?.required">Password can't be blank</span>
              <span class="text-danger" *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched || ngForm.submitted) && registerForm.get('password').errors?.minlength">Password must be at least 6 characters</span>
            </div>
          </div>


          <div class="form-group form-row">
            <label for="confirmPassword" class="col-md-4 col-form-label">Confirm Password:</label>
            <div class="col-md-8">
              <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword" [ngClass]="{
                'is-invalid': registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched || ngForm.submitted),
                'is-valid': registerForm.get('confirmPassword').valid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched || ngForm.submitted) }">
              <span class="text-danger" *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched || ngForm.submitted) && registerForm.get('confirmPassword').errors?.required">Confirm Password can't be blank</span>
              <span class="text-danger" *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched || ngForm.submitted) && registerForm.get('confirmPassword').errors?.minlength">Confirm Password must be at least 6 characters</span>
              <span class="text-danger" *ngIf="registerForm.invalid && (registerForm.dirty || registerForm.touched || ngForm.submitted) && registerForm.errors?.compareValidator">Password and Confirm Password do not match</span>
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-success float-right">Create Account</button>
            <div class="text-danger">{{registerError}}</div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
