<div class="row">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card mt-1">
      <div class="card-header">
        <h4>Login</h4>
      </div>

      <div class="card-body">
        <form [formGroup]="loginForm" #ngForm="ngForm" (ngSubmit)="onSubmitClick()">

          <div class="form-group form-row">
            <label for="username" class="col-md-4 col-form-label">Username:</label>
            <div class="col-md-8">
              <input type="text" name="username" id="username" placeholder="Username" class="form-control" formControlName="username" [ngClass]="{
                'is-invalid': loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched || ngForm.submitted),
                'is-valid': loginForm.get('username').valid && (loginForm.get('username').dirty || loginForm.get('username').touched || ngForm.submitted) }">
              <span class="text-danger" *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched || ngForm.submitted) && loginForm.get('username').errors?.required">Username can't be blank</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="password" class="col-md-4 col-form-label">Password:</label>
            <div class="col-md-8">
              <input type="password" name="password" id="password" placeholder="Password" class="form-control" formControlName="password" [ngClass]="{
                'is-invalid': loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched || ngForm.submitted),
                'is-valid': loginForm.get('password').valid && (loginForm.get('password').dirty || loginForm.get('password').touched || ngForm.submitted) }">
              <span class="text-danger" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched || ngForm.submitted) && loginForm.get('password').errors?.required">Password can't be blank</span>
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-success float-right">Sign In</button>
            <div class="text-danger">{{loginError}}</div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
